@{
    ViewData["Title"] = "Home Page";
}


@section navLinks {
    @if (string.IsNullOrEmpty(ViewBag.Email))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
        </li>
    }
}

<div class="text-center">
	<h1 class="display-4">Welcome <span class="name">@ViewBag.Name</span></h1>
</div>
