@{
    ViewData["Title"] = "admin";
}
<h1>@ViewData["Title"]</h1>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";

    string[] Usernames = { "sara", "sura" , "saleh"};
    int[] Ages = { 20, 22, 32};
    string[] Emails = { "sara@gmsil.com", "saleh@gmsil.com", "sura@gmsil.com" };


}

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />


    <h2>Users List</h2>
    <div class="table-container">
        <table>
            <thead class="table-dark">
                <tr>
                    <th>Username</th>
                    <th>Age</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Usernames.Length; i++)
                {
                    <tr>
                        <td>@Usernames[i]</td>
                        <td>@Ages[i]</td>
                        <td>@Emails[i]</td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
