
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />

<h1>Index</h1>


<div class="container">
    <h2 class="heading">Extraordinary rooms with elegant, yet a rustic atmosphere</h2>
    <div class="rooms">
        <div class="room-card">
            <img src="https://i.pinimg.com/736x/6c/88/6a/6c886a58955b62b80b29d29a69432904.jpg" alt="Apartment with Amazing Park View">
            <h3>Apartment with Amazing Park View</h3>
            <p>$45.00</p>
            <a href="#">VIEW</a>
        </div>
        <div class="room-card">
            <img src="https://i.pinimg.com/736x/6c/88/6a/6c886a58955b62b80b29d29a69432904.jpg" alt="Double Deluxe Room - Double Bed">
            <h3>Double Deluxe Room - Double Bed</h3>
            <p>$35.00</p>
            <a href="#">VIEW</a>
        </div>
        <div class="room-card">
            <img src="https://i.pinimg.com/236x/fe/3c/da/fe3cda5c1ff52dc1ad87ab2fb0959025.jpg" alt="Luxury Apartment - Ground Floor">
            <h3>Luxury Apartment - Ground Floor</h3>
            <p>$40.00</p>
            <a href="#">VIEW</a>
        </div>
    </div>
</div>